<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<title>CodeHome|Accueil</title>
</head>
<body>
	<div class="container">
		<header>
			<nav><h3><i class='fab fa-slack'></i> CodeHome <span id='signature'>Une réalisation de l'étudiant GOUGOU NELSON du groupe Winner de l'école NaN</span></h3></nav>
		</header>
		<div class="col-xs-offset-4 col-xs-4 text-center" id='menu'>
			<ul class="list-unstyled">
				<li>
					<a href="pages/liensutiles" class="btn btn-info btn-lg">LIENS UTILES</a>
				</li>
				<li>
					<a href="pages/monprojet" class="btn btn-info btn-lg">MON PROJET</a>
				</li>
				<li>
					<a href="https://google.com" class="btn btn-info btn-lg"><i class="fas fa-sign-out-alt fa-2x"></i></a>
				</li>
			</ul>
			
		</div>
	</div>
</body>
</html>